asgiref
certifi
cffi
chardet
cryptography
dj-database-url
Django
django-countries
django-rest-knox
djangorestframework
gunicorn
idna
pexpect
Pillow
ptyprocess
pycparser
pytz
requests
six
sqlparse
Strip
stripe
urllib3
whitenoise
psycopg2